[Unit]
Description=jastreamer Server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=jastreamer
Group=jastreamer
EnvironmentFile=-/etc/jastreamer/server.env
ExecStart=/usr/lib/jastreamer-server/jastreamer-server --config /etc/jastreamer/server.json
Restart=on-failure
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
ReadWritePaths=/var/lib/jastreamer

[Install]
WantedBy=multi-user.target
